node_modules
.next
.vercel
out
.env
.env.*
!.env.example
.env*.local
pnpm-lock.yaml.tmp
tsconfig.tsbuildinfo
data/questions.sqlite
data/questions.sqlite-*

# Sentry Config File
.env.sentry-build-plugin
